body {
    margin: 0;

    background-color: #282828;

    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    width: 100%;
    height: auto;

    pointer-events: none;
    user-select: none;
}


/* Page */

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
}


/* Container */

.container {
    width: 100%;
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
    width: 1440px;
    height: 55px;

    background-color: #040404;

    position: fixed;
    top: 40px;
    z-index: 99999;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__brand {
    display: flex;
    padding: 13px 0 0;

    text-decoration: none;
}

.header__logo {
    width: 38px;
    height: 34px;

    vertical-align: middle;
}

.header__title {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.8;
}

.header__title span {
    font-weight: 800;
    color: #3ea2d8;
}

.header__subtitle {
    margin-top: 5px;

    font-size: 9px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 518px;
}

.header__nav-item {
    margin-top: 5px;

    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #3ea2d8;

    transition: color .2s linear,
    text-decoration .2s linear;
}

.header__nav-item:hover {
    color: #fff;
    text-decoration: underline;
}


/* Intro */

.intro {
    width: 100%;
    height: 975px;

    background: url(../images/intro/bg.jpg) center no-repeat;
    background-size: cover;

    position: relative;
}

.intro__inner {
    width: 770px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.intro__title {
    margin-bottom: 60px;

    font-family: "Raleway", sans-serif;
    font-size: 175px;
    font-weight: 900;
    line-height: 0.8;
    text-transform: uppercase;

    -webkit-text-stroke: 1px #fff;
    filter: drop-shadow(0 1px 3px #fff)
    drop-shadow(0 -1px 3px #fff);
    ;
    -webkit-text-fill-color: transparent;
}

.intro__text {
    margin-bottom: 100px;

    font-size: 21px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.intro__btn {
    width: 260px;
    height: 60px;
    padding-top: 12px;
    margin-bottom: 160px;
    
    background-color: #d4d4d4;
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #3ea2d8;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .2s linear, background-color .2s linear;
}

.intro__btn:hover {
    color: #d4d4d4;

    background-color: #3ea2d8;
}


/* Who are we */

.whoarewe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoarewe__up {
    width: 100%;

    background-color: #000;
}

.whoarewe__container-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 515px;
    margin: 0 auto;
}

.whoarewe__up-title {
    margin-bottom: 30px;

    font-size: 29px;
    font-weight: 800;
    color: #00c0ff;
    text-transform: uppercase;
}

.whoarewe__up-text {
    font-size: 18px;
    font-weight: 400;
    color: #00c0ff;
    opacity: .7;
    line-height: 1.8;
    text-align: center;
}

.whoarewe__down {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    background-color: #1b1b1b;
}

.whoarewe__container-down {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    width: 1300px;
    min-height: 375px;
    margin: 0 auto;
    padding: 40px 30px;
}

.whoarewe__down-item {
    width: 300px;
}

.whoarewe__down-title {
    margin-bottom: 30px;

    font-size: 19px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.whoarewe__down-text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: .8;
}


/* Priorities */

.priorities {
    width: 100%;
    min-height: 975px;

    background: url(../images/priorities/bg.jpg) center no-repeat;
    background-size: cover;

    position: relative;
}

.priorities__inner {
    display: flex;
    flex-direction: column;
}

.priorities__header {
    width: 990px;
    margin: 0 auto;

    text-align: center;
}

.priorities__title {
    margin: 90px 0 50px;

    font-family: "Roboto", sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: #00c0ff;
    text-transform: uppercase;
}

.priorities__text {
    font-size: 21px;
    font-weight: 500;
    color: #00c0ff;
    line-height: 1.6;
}

.priorities__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 32px;
    margin: 75px 0 130px;
}

.priorities__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 365px;
    height: 370px;

    background-color: rgba(0, 0, 0, .5);
}

.priorities__item-name {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.priorities__item-text {
    width: 170px;

    font-family: "Lora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: .7;
}

.priorities__item-author {
    text-align: center;
}

.priorities__item-author-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.priorities__item-author-position {
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: .7;
}


/* We do */

.wedo {
    width: 100%;
    min-height: 930px;

    background-color: #000;
}

.wedo__header {
    width: 100%;
}

.wedo__container-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: auto;
    margin: 0 auto;
}

.wedo__up-title {
    margin: 90px 0 30px;

    font-size: 29px;
    font-weight: 500;
    color: #00c0ff;
    text-transform: uppercase;
}

.wedo__up-text {
    margin-bottom: 80px;

    font-size: 18px;
    font-weight: 400;
    color: #00c0ff;
    opacity: .7;
    line-height: 1.8;
    text-align: center;
}

.wedo__up-links {
    display: flex;
    justify-content: space-between;
    width: 355px;
}

.wedo__up-link {
    font-size: 16px;
    font-weight: 500;
    color: #00c0ff;
    text-decoration: none;
}

.wedo__up-link:hover {
    text-decoration: underline;
}

.wedo__content {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.wedo__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 400px;

    text-align: center;
}

.wedo__item-name {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wedo__item-text {
    width: 170px;

    font-family: "Lora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: .7;
}

.wedo__item-author {
    text-align: center;
}

.wedo__item-author-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.wedo__item-author-position {
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: .7;
}